<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skdc</title>
</head>
<body>
      {{>navbar}}
    <h1>JAI SHREEE RAM</h1>
</body>
</html>